* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #181a1b;
}
#particles-js {
  height: 100vh;
  width: 100%;
}
/* Clock section */
.clock {
  display: flex;
  width: 350px;
  height: 350px;
  justify-content: center;
  align-items: center;
  background: url("https://w7.pngwing.com/pngs/416/990/png-transparent-clock-face-roman-numerals-alarm-clocks-wall-clock-angle-white-furniture.png");
  background-size: cover;
  border: 4px rgb(161, 114, 11) solid;
  border-radius: 50%;
  position: absolute;
}

.clock:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: #747474;
  border-radius: 50%;
  z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

/* Hours Section */
.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}

.hr {
  top: 0;
  margin-bottom: 30px;
}

/* Minutes Section */
.clock .min,
.mn {
  width: 190px;
  height: 190px;
}

/* Seconds Section */
.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}

.brand_name {
  text-align: center;
  font-size: x-large;
  color: black;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 80px;
  background: #141414;
  z-index: 9;
  border-radius: 6px 6px 0 0;
}

.mn:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 90px;
  background: #181717;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.sc:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 150px;
  background: #0c0c0c;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.message {
  color: aliceblue;
  position: absolute;
  left: 0;
  margin: 20px;
}
.heart {
  text-align: center;
}
